/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark .page {
  --accent-color: #ff0070;
  --heading-text-color: #000028;
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --main-font-family: 'IBM Plex Mono';
  --main-font-size: 18px;
  --default-padding: 20px;
  --background-img: url(../images/cover-image-dark.png);
  --button-color: #ff0070;
}

.page.theme-dark .header__theme-menu-button {
  color: #ff0070;
}

.page.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

.page.theme-dark .header__theme-menu-button:focus {
  outline: none;
}

.page.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color, #ff0070);
  outline-offset: 2px;
  cursor: pointer;
}

.page.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
  pointer-events: none;
}

.page.theme-dark .rec {
display: block;
}

.page.theme-dark .main__title {
  color: var(--accent-color);
}

.page.theme-dark .decorated-zone::after,
.decorated-zone::after {
  border-block-start: 1px solid var(--accent-color, #ff0070);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
}

.page.theme-dark .decorated-zone::before,
.decorated-zone::before {
  border-block-end: 1px solid var(--accent-color, #ff0070);
  border-inline-start: 1px solid var(--accent-color, #ff0070);
}

@media (width <= 768px) {
  
  .page.theme-dark .footer-heading {
    color: var(--title-color);
    text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
  }
}